:root {
  --log: 1px solid red;
}

body {
  margin: 0 auto;
  padding: 0;
}

h1,
h2 {
  text-align: center;
}

.insert {
  display: flex;
  justify-content: center;
}

.add-item {
  align-self: center;
}

ul {
  padding-inline-start: 0;
  list-style-type: none;
  text-align: center;
}

li {
  display: block;
}

.delete-button {
  height: 14px;
  width: 14px;
  border: none;
  background-position: center;
  background-image: url(../assets/icons8-delete.svg);
  cursor: pointer;
}

.delete-button:focus {
  outline: none;
}

.done-item {
  color: gray;
}
